<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <h2 class="text-muted text-center py-3">Connect now</h2>
        <div class="card py-3">
            <div class="card-body">
                
                <div class="text-center" *ngIf="validationErrors.length > 0">
                    <p class="text-danger" *ngFor="let error of validationErrors">{{error}}</p>
                </div>

                <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" value="male" formControlName="gender">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="female" formControlName="gender" class="ml-3">Female
                        </label>
                    </div>
                    <app-text-input [formControl]="registerForm.controls['username']" [label]="'Username'"></app-text-input>
                    <app-text-input [formControl]="registerForm.controls['knownAs']" [label]="'Known As'"></app-text-input>
                    <app-text-input [formControl]="registerForm.controls['dateOfBirth']" [label]="'Date of birth'" [type]="'date'"></app-text-input>
                    <app-text-input [formControl]="registerForm.controls['city']" [label]="'City'"></app-text-input>
                    <app-text-input [formControl]="registerForm.controls['country']" [label]="'Country'"></app-text-input>
                    <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
                    <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
                    <button class="btn btn-success mr-2" type="submit" [disabled]="registerForm.invalid">Register</button>
                    <button class="btn btn-danger" (click)="cancelRegister()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
